.nav {
  display: flex;
  flex-direction: column;
  width: 254.84px;
  height: 68.94px;
  top: 34px;
  left: 513px;
  padding: 0px;
  gap: 22px; 
  opacity: 0px;
}

.nav_logo {
    width: 32px;
    height: 32px;
    left: 111.42px;
    gap: 0px;
    opacity: 0px;
}

.nav_text {
  width: 254.84px;
  height: 14.94px;
  top: 54px;
  gap: 0px;
  opacity: 0px;
}