.intro {
  color: #FFFFFF;
  width: 100%;
  max-width: 984px;
  margin: auto;
}

.intro__box {
  display: flex;
  max-width: 830px;
  flex-direction: column;
}

.intro__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0;
  max-width: 830px;
}

.intro__text-one{
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 39px;
  margin-bottom: 10px;
  max-width: 738px;
}
.intro__text-two {
  display: flex;
  justify-content: flex-end;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  margin:0;
  max-width: 732px;
}
.intro__text-three {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 722px;
}

@media screen and (max-width: 984px){
.intro {
  justify-content: center;
  margin-left: 80px;
  }
 }

@media screen and (max-width: 768px){
.intro {
  max-width: 720px;
  margin-left: 24px;
  }
.intro__title {
  font-size: 45px;
  line-height: 49px;
  margin-bottom: 50px;
  font-family: Inter;
  text-align: left;
  }
.intro__text-one {
  margin-top: 0px;
  margin-bottom: 26px;
  }
}

@media screen and (max-width: 320px){
  .intro {
    margin: 0;
    max-width: 288px;
    width: 100%;
    
  }
  .intro__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 30px;
  }
}