.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  margin-top: 92px;
  margin-right: 148;
}

.intro_title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  color: #FFFFFF;
}

.intro_texts {
  width: 830px;
  height: 173px;
  color: #FFFFFF;
}

.intro_text__two {
  
}