.places {
    margin: 50px auto 0;
    max-width: 320px;

}

.place__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 0;
    max-width: 288px; 
    color: #FFFFFF;
}

.place__url {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    margin: 30px auto 0;
    max-width: 288px; 
    color: #AAAAAA;
}

.place__author {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 8px auto 0;
    max-width: 288px;
    color: #FFFFFF; 
}

.place__author__jefe {
    margin: 0;
}

.place__author__gerente {
    margin: 0;
}

.place__image {
    transition: all 0.3s;
    width: 100%;
    max-width: 320px;
    margin: 30px 0 0;
}

.place__texts {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    margin: 30px auto 30px;
    max-width: 288px;
    color: #FFFFFF;
    gap: 25px;
}

.place__text__first {
    margin-bottom: 25px;
}

.place__text__second {
    margin: 0;
}
.place__text__thirst {
    margin-top: 25px;
    margin-bottom: 0;
}

.place__button {
    display:flex;
    align-items:center;
    text-decoration: none;
    justify-content: center;
    border: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    max-width: 100%;
    width: calc(100% - 32px);
    height: 48px;
    background:linear-gradient(to left , #003A7B , #0278FE);
    margin: 0 16px 50px;
    text-align: center;
    color: #FFFFFF;
}

.place__button:hover {  
    background:linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);

}

@media screen and (min-width: 550px) {
    .places {
        max-width: 720px;

    }
    
    .place {
        display: grid;
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto 340px auto;
        column-gap: 28px;
        row-gap: 48px;
        margin-top: 72px;
    }

    .place__authors {
        align-self: end;
    }
    .place__url{ 
        margin:0;
        margin-bottom:8px;
    }

    .place__author {
        margin:0;
        max-width: 352px;
    }

    .place__title{
        font-family: Inter;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
        margin: 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

    }
    .place__texts {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        margin: 0;
        max-width: 352px;

    }
    .place__text__first {
        margin: 0 0 25px;
        
    }
        .place__text__second {
        margin: 0;
    }
     .place__image {
        max-width: 340px;
        margin: 0;
     }

     .place__button {
        margin: 0;
        max-width: 289px;
     }
}

@media screen and (min-width: 1024px) {
    .places {
        max-width: 984px;
    }

    .place {
        grid-template-columns: 460px 1fr;
        grid-template-rows: auto 460px auto;
    }
    .place__image {
        max-width: 460px;
    }
}